<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PecaDicaBDEntities" connectionString="metadata=res://*/Common.PecaDicasEntidades.csdl|res://*/Common.PecaDicasEntidades.ssdl|res://*/Common.PecaDicasEntidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlExpress;initial catalog=pecaDicaBD;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>