<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>    
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <membership defaultProvider="MeuMembro">
      <providers>
        <clear />
        <add name="MeuMembro" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="pecaDicaSecurityBD" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="PecaDica" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="meuRole">
      <providers>
        <clear />
        <add connectionStringName="pecaDicaSecurityBD" applicationName="PecaDica" name="meuRole" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="bindingSeguro" closeTimeout="00:03:00">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MeuBehavior" name="PecaDicas.Services.CriptografarService">
        <endpoint address="http://localhost:63962/Criptografia/CriptografarService.svc" binding="wsHttpBinding" bindingConfiguration="bindingSeguro" contract="PecaDicas.Contratos.Common.ICriptografia" />
      </service>
      <service behaviorConfiguration="MeuBehavior" name="PecaDicas.Services.LojaService">
        <endpoint address="http://localhost:63962/CRUD/LojaService.svc" binding="wsHttpBinding" bindingConfiguration="bindingSeguro" contract="PecaDicas.Contratos.ILojaService" />
      </service>
      <service behaviorConfiguration="MeuBehavior" name="PecaDicas.Services.ProdutoService">
        <endpoint address="http://localhost:63962/CRUD/ProdutoService.svc" binding="wsHttpBinding" bindingConfiguration="bindingSeguro" contract="PecaDicas.Contratos.IProdutoService" />
      </service>
      <service behaviorConfiguration="MeuBehavior" name="PecaDicas.Services.CategoriaService">
        <endpoint address="http://localhost:63962/CRUD/CategoriaService.svc" binding="wsHttpBinding" bindingConfiguration="bindingSeguro" contract="PecaDicas.Contratos.ICategoriaService" />
      </service>
      <service behaviorConfiguration="MeuBehavior" name="PecaDicas.Services.MarcaService">
        <endpoint address="http://localhost:63962/CRUD/MarcaService.svc" binding="wsHttpBinding" bindingConfiguration="bindingSeguro" contract="PecaDicas.Contratos.IMarcaService" />
      </service>
      <service behaviorConfiguration="MeuBehavior" name="PecaDicas.Services.ModeloService">
        <endpoint address="http://localhost:63962/CRUD/ModeloService.svc" binding="wsHttpBinding" bindingConfiguration="bindingSeguro" contract="PecaDicas.Contratos.IModeloService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MeuBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <serviceCertificate findValue="CertpecaDica" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="MeuMembro" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="MeuRole" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="PecaDicaBDEntities" connectionString="metadata=res://*/Common.PecaDicasEntidades.csdl|res://*/Common.PecaDicasEntidades.ssdl|res://*/Common.PecaDicasEntidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlExpress;initial catalog=pecaDicaBD;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="pecaDicaSecurityBD" connectionString="Data Source=.\sqlexpress;Initial Catalog=pecaDicaSecurityBD;Integrated Security=True" />
  </connectionStrings>
</configuration>